# 1. Verifica minuciosamente que los paquetes no hayan sido alterados
verify-store-integrity=true

# 2. Bloquea dependencias secundarias sospechosas o no declaradas
strict-peer-dependencies=true

# 3. Desactiva la ejecución de scripts automáticos al instalar
ignore-scripts=true