@import "tailwindcss";

.dark-theme {
	--color-main: #052753;
	--color-first: #f8fafc;
	--color-second: #7594c0;
}

.light-theme {
	--color-main: #ffffff;
	--color-first: #0f172a;
	--color-second: #0cb7eb;
}

@theme {
	--color-main: var(--color-main);
	--color-first: var(--color-first);
	--color-second: var(--color-second);

	--color-warning: #ffec40;
	--color-error: #dd1616;
	--color-success: #16dd16;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: var(--color-main);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: var(--color-first);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: var(--color-second);
}

