@import "tailwindcss";

.dark-theme {
	--color-main: rgb(14, 14, 88);
	--color-first: #f5f5fa;
	--color-second: #0a0a2a;
}

.light-theme {
	--color-main: #f5f5fa;
	--color-first: #0a0a2a;
	--color-second: rgb(14, 14, 88);
}

@theme {
	--color-main: var(--color-main);
	--color-first: var(--color-first);
	--color-second: var(--color-second);

	--color-warning: #ffec40;
	--color-error: #dd1616;
	--color-success: #16dd16;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: var(--color-main);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: var(--color-first);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: var(--color-second);
}
